<%= form_with(model: @hospede) do |form| %>
  <% if @hospede.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hospede.errors.count, "erro") %> proibiu o salvamento:</h2>
      <ul>
        <% @hospede.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div>
    <%= form.label :documento %>
    <%= form.text_field :documento %>
  </div>

  <div>
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>

  <div>
    <%= form.label :telefone %>
    <%= form.text_field :telefone %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
